.animals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
} 

.animal {
    display: grid;

    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "img name"
        "img description"
        "img estimate";
    
    grid-column-gap: 1em;

    margin: 1em;
}

.animal_image {
    grid-area: img;
    width: 100%;
}

.animal_name {
    grid-area: name;
    margin: 0;
}

.animal_estimate {
    grid-area: estimate;
}